     .div1{
  width: auto;
  height: 50px;
  margin: 20px;
  padding: 20px;
}
.div2 {
  float: right;
  font-size: 13px;
  font-weight: 100;
}
body {
  background-color: #faae7b;
}
h1 {
  color: #432371;
  font-family: 'Cinzel Decorative', cursive;

}
h2 {
  color: #432371;
  font-family: 'Cinzel', serif;
  
}
h3 {
  color: #432371;
  font-family: 'Cinzel', serif;

}
p {
  color: #432371;
  font-family: 'Assistant', sans-serif;
}
